*
!README.md
!init.el
!config.org
!local.el.template
!requirements.txt

!lisp/
!lisp/*.el

!icons/
!icons/stock/
!icons/stock/**

!scripts/
!scripts/*.py
!scripts/*.sh
!scripts/*.el

!screenshots/
!screenshots/**

!tests/
!tests/*.py
!tests/*.el

!samples/
!samples/**

!.github/
!.github/**
